#slider-container {
	width: 100%;
}
.slider, .display {
	width: 100%;
}
.display {
	background-color: black;
	padding-top: 30px;
	padding-bottom: 30px;
}
.slider {
	background-color: #F1F1F1;
	padding-top: 10px;
	padding-bottom: 10px;
}
.slider__container, .display__video {
	width: 1080px;
	margin: auto;
	text-align: center;
}
#current-video {
	text-align: center;
	margin-bottom: 30px;
}
.slider__list {
	width: 89%;
	display: inline-block;
}
.slider__list__previous, .slider__list__next {
	width: 9%;
	display: inline;
	color: black;
}
.slider__list__previous:hover, .slider__list__next:hover {
	font-weight: bold;
	cursor: pointer;
}
.slider__list__miniature {
	display: inline;
	width: 15%;
	transition: all .2s ease-in-out;
}
.slider__list__miniature > img {
	width: 15%;
	margin-left: 0.8333%;
	margin-right: 0.8333%;
}
.slider__list__miniature:hover {
	cursor: pointer;
}
.slider__list__miniature:hover > img {
	transform: scale(1.1);
}